@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(15 23 42);
  color:black;
}
.mockHotels{
    color:black;
    background-color: aqua;
}

::-webkit-scrollbar {
    width: 12px;
    background: #2a2a2a;
}

::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666; 
}

::-webkit-scrollbar-track {
    background: #2a2a2a;
}
select {
    color:black; /* Set the text color for select options */
    background-color:white; /* Set background color for select */
}
